<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="新型冠狀病毒（2019-nCoV）感染肺炎疫情自2019年底爆發至今擴及全球，確診病例急速增加，端傳媒以互動地圖及來自現場、側面解讀等不同面向的深度報導，帶你掌握疫情的瞬息變化。">
    <meta property="fb:app_id" content="">
    <meta property="og:title" content="新冠肺炎全球確診病例分布｜端傳媒">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://theinitium.com/project/20200203-international-novel-coronavirus-live">
    <meta property="og:image" content="https://theinitium.com/project/20200203-international-novel-coronavirus-live/img/social.png">
    <meta property="og:image:alt" content="新冠肺炎全球確診病例分布｜端傳媒">
    <meta property="og:site_name" content="新冠肺炎全球確診病例分布｜端傳媒">
    <meta property="og:description" content="新型冠狀病毒（2019-nCoV）感染肺炎疫情自2019年底爆發至今擴及全球，確診病例急速增加，端傳媒以互動地圖及來自現場、側面解讀等不同面向的深度報導，帶你掌握疫情的瞬息變化。">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@initiumnews">
    <meta name="twitter:creator" content="@initiumnews">
    <meta name="twitter:title" content="新冠肺炎全球確診病例分布｜端傳媒">
    <meta name="twitter:description" content="新型冠狀病毒（2019-nCoV）感染肺炎疫情自2019年底爆發至今擴及全球，確診病例急速增加，端傳媒以互動地圖及來自現場、側面解讀等不同面向的深度報導，帶你掌握疫情的瞬息變化。">
    <meta name="twitter:image:src" content="https://theinitium.com/project/20200203-international-novel-coronavirus-live/img/social3.png">
    <meta name="twitter:url" content="https://theinitium.com/project/20200203-international-novel-coronavirus-live">
    <title>新冠肺炎全球確診病例分布｜端傳媒</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/app.min.css">
    <script>
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-65642613-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div class="loading">
        <div class="container">
          <h1 class="serif">新型冠狀病毒感染肺炎<br>全球確診病例分布圖</h1>
          <figure><img src="img/ajax-loader.gif"></figure><span>載入中 [ 0/3 ]</span>
        </div>
      </div>
      <nav id="nav">
        <div class="logo"><a href="https://theinitium.com/">端傳媒</a></div>
      </nav>
      <main class="index" id="main">
        <div class="scene">
          <section class="intro">
            <div class="container">
              <div class="title">
                <div class="info">
                  <div class="date">截至 {{ updateTime }}</div>
                  <div class="share"><a class="facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank"><span></span></a><a class="twitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank"><span></span></a></div>
                </div>
                <h1 class="serif">新型冠狀病毒感染肺炎<br>全球確診病例分布圖</h1>
              </div>
              <div class="accumulation serif">
                <div class="confirmed">
                  <h6>累計確診<br><b>{{dataCSV | sumData('confirmed') + dpConfirmed}}</b></h6>
                  <p>較昨日新增<b>{{newConfirmed}}</b></p>
                </div>
                <div class="death">
                  <h6>累計死亡<br><b>{{dataCSV | sumData('death') + dpDeath}}</b></h6>
                  <p>較昨日新增<b>{{newDeath}}</b></p>
                </div>
              </div>
              <div class="news">
                <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-10">
                    <h4><a :href="newsLink" target="_blank">今日要點（點擊閱讀全文）</a></h4>
                    <ul>
                      <li>{{ newsTitle }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="map">
            <div id="leaflet"></div>
            <div class="button d-sm-none"><a v-on:click="mapButton">查看完整數據</a></div>
            <div class="legend d-none d-md-block">
              <ul>
                <li>3001 例以上</li>
                <li>1001 ~ 3000 例</li>
                <li>501 ~ 1000 例</li>
                <li>201 ~ 500 例</li>
                <li>101 ~ 200 例</li>
                <li>31 ~ 100 例</li>
                <li>1 ~ 30 例</li>
              </ul>
            </div>
          </section>
        </div>
        <section class="statistic">
          <div class="container">
            <div class="row">
              <div class="col-md-6" v-for="(datas, key) in groupByType" :key="key">
                <div class="title serif">
                  <h3>{{ key | groupName }}</h3>
                  <div class="info" v-if="key === 'world'"><span class="confirmed">累計確診 {{datas | sumData('confirmed') + dpConfirmed}} 例 </span>/ <span class="death">死亡 {{datas | sumData('death') + dpDeath}} 例</span></div>
                  <div class="info" v-else><span class="confirmed">累計確診 {{datas | sumData('confirmed')}} 例 </span>/ <span class="death">死亡 {{datas | sumData('death')}} 例</span></div>
                </div>
                <div class="content">
                  <div class="row" v-if="key === 'world'">
                    <div class="col-lg-6 col-md-12" v-for="(data, key) in datas" :key="key"><span class="local">{{data.name_zh}}</span><span class="confirmed">{{data.confirmed}}</span><span class="death">{{data.death}}</span></div>
                    <div class="col-lg-6 col-md-12"><span class="local">鑽石公主號</span><span class="confirmed">{{dpConfirmed}}</span><span class="death">{{dpDeath}}</span></div>
                  </div>
                  <div class="row" v-else>
                    <div class="col-lg-6 col-md-12" v-for="(data, key) in datas" :key="key"><span class="local">{{data.name_zh}}</span><span class="confirmed">{{data.confirmed}}</span><span class="death">{{data.death}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="source">
              <p>資源來源：美國約翰霍普金斯大學（Johns Hopkins CSSE）資訊、綜合傳媒報導</p>
            </div>
          </div>
        </section>
        <section class="credit">
          <div class="container">
            <div class="list">
              <dl>
                <dt>網站工程</dt>
                <dd>Felix、Sayid、Elk Liang</dd>
                <dt>設　　計</dt>
                <dd>郭瑾燁</dd>
                <dt>監　　製</dt>
                <dd>陳莉雅、吳婧</dd>
              </dl>
            </div>
            <div class="share"><a class="facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank"><span></span></a><a class="twitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftheinitium.com%2Fproject%2F20200203-international-novel-coronavirus-live" target="_blank"><span></span></a></div>
          </div>
        </section>
        <section class="more">
          <div class="container">
            <div class="title serif">
              <h3>延伸閱讀</h3>
            </div>
            <div class="article" v-for="(article, key) in groupByCategory" :key="key">
              <div class="title serif">
                <h4>{{ key }}</h4>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-6 col-md-3" v-for="(content, key) in article" :key="key"><a target="_blank" :href="`${content.link}`">
                      <figure><img class="img-fluid" :src="`${content.thumbnail}`"></figure>
                      <h5>{{content.title}}</h5></a></div>
                </div>
              </div>
            </div>
            <div class="button"><a href="https://theinitium.com/channel/20200106-mainland-wuhan-pneumonia/" target="_blank">閱讀更多</a></div>
          </div>
        </section>
      </main>
      <footer id="footer">
        <div class="member">
          <div class="container">
            <div class="title">
              <h3>加入端傳媒，支持好新聞</h3>
              <h4>用你選擇的媒體，決定你看見的世界</h4>
            </div>
            <div class="button"><a href="https://theinitium.com/subscription/offers/?&amp;utm_source=initium&amp;utm_medium=initium&amp;utm_campaign=initium_project" target="_blank">付費支持</a></div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <p>©2020 Initium Media. All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/app.min.js"></script>
    <script>$(document).ready(function(){Index.init()})</script>
  </body>
</html>